{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>SomethingOverflow - {% block title %}{% endblock %}</title>
{% autoescape on %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
{% endautoescape %}
<style>
.jumbotron {
background-image: url("/static/jumbobg.jpg");
background-size: cover;}
</style>
</head>
<body>
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="/">tZuDo</a>
     </div>
     <ul class="nav navbar-nav">
       {% if user.is_authenticated %}
         <li {% if questions %}class="active" {% endif %}><a href="/tasks">Tasks</a></li>
         <li {% if grouppage %}class="active" {% endif %}><a href="/groups">Groups</a></li>
      {% endif %}
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><p class="navbar-text">{{ request.user.username|title }}</p></li>
       {% if user.is_authenticated %}
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
       {% else %}
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       {% endif %}
     </ul>
   </div>
  </nav>
    <br/>
    <div class="container">
      <div class="jumbotron">
        <h1>SomethingOverflow</h1>
        <p>Question Board</p>
      </div>
      <p>{% block message %}{% endblock %}</p>
    </div>
    </div>
<div id="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>
