{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>SomethingOverflow - {% block title %}{% endblock %}</title>
{% autoescape on %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
{% endautoescape %}
<style>
.jumbotron {
background-image: url("/static/jumbobg.jpg");
background-size: cover;}
.jumbotron h1{
    color: #fff;
}

.jumbotron p{
    color: #fff;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
            $("button").click(function () {
                /*$.get("/editpost/1", function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });*/
                $.ajax({
                    type: "GET",
                    url: "/edit_post/1",
                    success: function (data) {
                        alert("Data: " + data);
                    },
                    error: function (xhr, status, errorThrown) {
                        //Here the status code can be retrieved like;
                        alert('error' + xhr.status, xhr.responseText);
                    }
                });

            });
        });
    function update_score(event, p2, status){
        var s = event.id;
        var AURL = "/react2/"+s[0]+'/'+s.slice(1)+'/'+status;
        alert(AURL)
        $.ajax({
                    type: "GET",
                    url: AURL,
                    success: function (data) {
                        $(event.id).html(data)
                    },
                    error: function (xhr, status, errorThrown) {
                        //Here the status code can be retrieved like;
                        alert('error' + xhr.status, xhr.responseText);
                    }
        });

    }
</script>
</head>
<body>
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="/">SomethingOverflow</a>
     </div>
     <ul class="nav navbar-nav">
       {% if user.is_authenticated %}
         <li {% if questions %}class="active" {% endif %}><a href="/questions">Questions</a></li>
         <li {% if tagspage %}class="active" {% endif %}><a href="/tags">Tags</a></li>
      {% endif %}
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><p class="navbar-text">{{ request.user.username|title }}</p></li>
       {% if user.is_authenticated %}
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
       {% else %}
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       {% endif %}
     </ul>
   </div>
  </nav>
    <br/>
    <div class="container">
      <div class="jumbotron">
        <h1>SomethingOverflow</h1>
        <p>Question Board</p>
      </div>
      <p>{% block message %}{% endblock %}</p>
    </div>
    </div>
<div id="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>
