{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block message %}{{ message }}{% endblock %}
{% load bootstrap3 %}
<!-- TODO icons -->
{% block content %}
    <div class="col-md-2 col-md-offset-5">
    <form role="form"  class="form" action="/recovery?{{get}}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Reset</button>
      </div>
    </form>
    </div>
{% endblock %}
