certifi==2018.4.16
chardet==3.0.4
confusable-homoglyphs==3.0.0
construct==2.5.3
cycler==0.10.0
Django==1.9.2
django-bootstrap==0.2.4
django-bootstrap3==9.1.0
django-haystack==2.4.0
django-taggit==0.22.2
future==0.16.0
httpie==0.9.9
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
pefile==2017.11.5
Pillow==5.1.0
Pygments==2.2.0
pyparsing==2.2.0
pysolr==3.3.2
python-dateutil==2.7.2
python-ptrace==0.9.3
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
Whoosh==2.7.4
wordcloud==1.4.1
